body, html {
    height: 100%;
    margin: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    height: 60vh;
    width: calc(60vh * 16 / 9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  